    @model Category

    <form method="post">
        <div class="border border-1 border-dark p-3">
            <div class="row mb-4">
                <h2 class="text-dark">
                    Create Category
                </h2>
            </div>
            @*<div asp-validation-summary="All"></div>*@
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-5">
                <label asp-for="DisplayOrder"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-outline-dark me-2" style="width: 15%">Create</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-light" style="width: 15%">Back to List</a>
            </div>
        </div>
    </form>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
 